.dashboard-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  /* You can customize the box-shadow here if needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.dashboard-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
